<div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Titulo</mat-label>
      <input matInput placeholder="Compras" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Contenido</mat-label>
      <textarea matInput placeholder="Carne, fideos, etc.."></textarea>
    </mat-form-field>
  </form>
  <div class="buttons-container">
    <button mat-raised-button color="warn">Cancelar</button>
    <div class="separador"></div>
    <button mat-raised-button color="primary">Guardar</button>
  </div>
</div>
